*{
    list-style:none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    overflow:hidden
}
header{
    position:relative;
    right:8px;
    top:-10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px;   
    background: #7eabe6;
    width:101%;
    box-shadow:#00000041 0px 0px 20px;
}
.titulo{
    font-size:25px;
    color:#ffffff;
    margin-left:10px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    text-shadow:#0000009f 0px 0px 10px;
}
.Lista{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size:16px;
    margin-right:10px;
    cursor:pointer;
}
.item-lista{
    margin:5px;
    padding:5px;
    font-weight:600;
}
.item-lista:hover{
    text-shadow:#000000 0px 0px 5px;
    animation:shadow-pulse 0.5s ease-in-out;
}

@keyframes shadow-pulse {
    0% {
        text-shadow: #000000 0px 0px 5px;
    }
    50% {
        text-shadow: #000000 0px 0px 10px;
    }
    100% {
        text-shadow: #000000 0px 0px 5px;
    }
}
body{
    background: #ffffff;
    
}
form{
    background: #ffffff;
    border-radius: 20px;
    width:500px;
    height:420px;
    align-items:center;
    justify-content:center;
    margin:30px;
    box-shadow:#00000041 0px 0px 20px;
    color:#0000;

}
.formulariom{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#0000;
}

